* {
  margin: 0;
  padding: 0;
  box-sizing: 16px;
  font-family: sans-serif;
  /* font-weight: lighter; */
}






@media only screen and (max-width: 500px) {
  .app-header {
    text-align: center;
  }
  
}